<h1>Friends index</h1>

<h2>Total friends: {{model.length}}</h2>

<table class="primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Articles</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |friend|}}
      <tr>
        <td>{{link-to friend.fullName 'friends.show' friend}}</td>
        <td>{{friend.totalArticles}}</td>
        <td><button {{action "delete" friend}} >Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
